h3, h2, h1
{
    text-align: center;
    color: forestgreen;
}

.map
{
    margin-bottom: 5vh;
    margin-left: 5vh;
    float: left;
}

.map_ctga
{
    margin-bottom: 5vh;
    margin-right: 2vh;
    margin-left: 5vh;
    float:left;   
}

.map_santaRita
{
    margin-bottom: 5vh;
    margin-right: 2vh;
    margin-left: 2vh;
    float:left; 
}

.map_header, .map_ctga_header, .map_SRM_header
{
    width: 400px;
    height: 50px;
    background-color: forestgreen;
    text-align: center;
    margin-top: 1vh;
}

.map_body, .map_ctga_body, .map_SRM_body
{
    height: 400px;
    width: 400px;
    border: 2px solid forestgreen;
    margin-bottom: 5vh;
}


#card_suggestion
{
    margin-top: 10%;
    text-transform: uppercase;
}

#card_img
{
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 5vh;
}

#img_Igor, #img_lucca, #img_Diego, #img_Alexia, #img_Sandro
{
    width: 280px;
    height: 290px;
}