body{
    background-image: url("../img/planoDeFundo_Cadastro.png")
}
h2
{
    text-align: center;
    color: white;
}

.iconLupa {
    color: white;
}

.imgNavBar {
    max-height: 30px;
}

.iconNavBar {
    margin-right: 35%;
}

.button_login
{
    text-align: center;
    margin-top: 1vh;
}

.img_pugLogin
{
    height: 250px;
    width: 300px;
}

.card-header
{
    background-image: url("../img/planoDeFundo_Cadastro.png");
    text-align: center;
}

#container_login
{
    margin-top: 20vh;
    margin-bottom: 20vh;
}