body{
    background-image: url("../img/planoDeFundo_Cadastro.png");
}

h2
{
    text-align: center;
    color: black;
}

.iconLupa {
    color: white;
}

.iconNavBar, .imgNavBar{
    height: 30px;
    margin-right: 35%;
}

.img_header_card
{
    text-align: center;
    background-color: forestgreen;
}

.img_card
{
    width: 100px;
    height: 100px;
}

.title_card
{
    border: 2px solid rgb(25, 119, 30);
    background-color: forestgreen;
}


#form_cadastro
{
    margin-top: 20vh;
    margin-bottom: 10vh;
}
